<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ticTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FB5A7C91DDF60BA001387B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB5A7DD1DDF60BB001387B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB5A7E81DDF60BB001387B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
